modules = ["bash", "python-3.12", "nix"]
run = "export PATH=$PATH:$REPL_HOME/.config/.foundry/bin && python ./main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = [
  "sh",
  "-c",
  "export PATH=$PATH:$REPL_HOME/.config/.foundry/bin && python ./main.py",
]

[[ports]]
localPort = 8768
externalPort = 80